:root {
  --editor-font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --editor-font-size: 14px;
  --editor-tab-size: 2;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.token.comment {
  color: #6a9955;
}
.token.keyword,
.token.tag {
  color: #c586c0;
}
.token.string {
  color: #ce9178;
}
.token.number,
.token.literal,
.token.entity {
  color: #b5cea8;
}
.token.property {
  color: #9cdcfe;
}
